/src/main/resources/META-INF/buildNumber.properties
*.svn
*.git
target/*
*target/
target/
.idea/*
*.idea/
.idea/
*.classpath
*.project
*.settings
*.metadata
*.class
*.css
*.css.map
*.ear
*.war
*.jar
*.iml
*Servers/Tomcat v7.0 Server at localhost-config
*.diff
beagle-parent/test-swagger/
*.orig
*.rej
toolshed/generated/
toolshed/generated/temp/
generated/temp/
/bin/
/EbayCategoryMapping.xlsx
/EbayErrorsAndWarnings.xlsx
/TaxCodeMapping.xlsx
overlays/**
node_modules/**
node/**
**/*_jsx.js
**/*_jsx.js.map
/coverage/**
logs.dir_IS_UNDEFINED/*

